<html>
    <head>
        <link rel="stylesheet" href="/static/css/cv.css">
    </head>

    <title>
        Entity - Resume
    </title>
    
    <body>
        <header>
            <a href="/">
                <img src="/static/img/entity.jpg" id="logo">
            </a>
            <h1>Entity</h1>
        </header>

        <main>
            <section id="introduction">
                <h2>Introduction</h2>
                <p>
                    Welcome to my corner of the web! I'm a programmer primarily focused on web development, with a robust background in scraping, automation, bot development, web extensions, assembling computers and home servers. I prioritize clean code and minimalism in all my projects.
                </p>
            </section>

            <section id="skills">
                <h2>Skills</h2>
                <ul>
                    <li>
                        <strong>Languages</strong>:
                        Python and JS
                    </li>
                    <li>
                        <strong>Databases</strong>:
                        PostgreSQL
                    </li>
                    <li>
                        <strong>Environments and OS</strong>:
                        Linux and Windows, VSCodium
                    </li>
                    <li>
                        <strong>Web Development</strong>:
                        Strong in Flask, Certified in Django but never used
                    </li
                </ul>
            </section>

            <section id="projects">
                <h2>Open Source Projects</h2>
            </section>

            <section id="education">
                <h2>Education</h2>
                <p>
                    Dimitri Uznadze Tbilisi N22 Public School -  
                    <em>2007-2018</em>
                </p>
                <p>
                    Caucasus University (CST) - 
                    <em>2018-2019</em>
                </p>
                <p>
                    Free university of Tbilisi (MACS) - 
                    <em>2019-2021</em>
                </p>
                <p>
                    Ivane Javakhishvili Tbilisi State University (CS) - 
                    <em>2021-2022</em>
                </p>
            </section>
            
        </main>
    </body>
</html>