<html>
    <head>
        <link rel="stylesheet" href="/static/css/home.css">
    </head>

    <title>
        Entity
    </title>
    
    <body>
        <header>
            <a href="/cv">
                <img src="/static/img/entity.jpg" id="logo">
            </a>
            <div id="intro">
                <h1>Entity</h1>
                <h2 class="email">13entity@proton.me</h2>
            </div>
        </header>
        
        <main>
            <nav class="links">
                <a href="/cv">Résumé</a>
                <a target="_blank" href="https://github.com/13entity">GitHub</a>

            </nav>
        </main>
    </body>
</html>